apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: robotshop
  labels:
    app.kubernetes.io/name: frontend
    app.kubernetes.io/instance: dev
    app.kubernetes.io/component: frontend
    app.kubernetes.io/part-of: robot-shop
    app.kubernetes.io/version: "1.0.0"
    app.kubernetes.io/managed: manual
    app.kubernetes.io/tier: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: frontend
      app.kubernetes.io/instance: dev
  template:
    metadata:
      labels:
        app.kubernetes.io/name: frontend
        app.kubernetes.io/instance: dev
        app.kubernetes.io/component: frontend
        app.kubernetes.io/part-of: robot-shop
        app.kubernetes.io/version: "1.0.0"
        app.kubernetes.io/managed: manual
        app.kubernetes.io/tier: web
    spec:
      containers:
      - name: frontend
        image: xgoods/ui:7.0
        ports:
        - containerPort: 80
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
          requests:
            memory: "64Mi"
            cpu: "100m"
        volumeMounts:
        - name: nginx-conf
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
          readOnly: true
      volumes:
      - name: nginx-conf
        configMap:
          name: frontend-nginxconfig
          items:
          - key: nginx.conf
            path: nginx.conf
