apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalogue
  namespace: robotshop
  labels:
    app.kubernetes.io/name: catalogue
    app.kubernetes.io/instance: dev
    app.kubernetes.io/version: "1.0.0"
    app.kubernetes.io/component: catalogue
    app.kubernetes.io/part-of: robot-shop
    app.kubernetes.io/managed: manual
    app.kubernetes.io/tier: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: catalogue
      app.kubernetes.io/instance: dev
      app.kubernetes.io/tier: app
  template:
    metadata:
      labels:
        app.kubernetes.io/name: catalogue
        app.kubernetes.io/instance: dev
        app.kubernetes.io/tier: app
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
        fsGroup: 1001
      containers:
      - name: catalogue
        image: xgoods/catalogue:1.0
        ports:
        - containerPort: 8080
        resources:
          limits:
            cpu: "500m"
            memory: "512Mi"
          requests:
            cpu: "250m"
            memory: "256Mi"
        envFrom:
        - configMapRef:
            name: catalogue-configmap
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 20
---


